@import "tailwindcss";

@theme {
  --color-gold: #d9a441;
  --color-gold-light: #f0c56d;
  --color-night: #0b0a08;
  --color-night-soft: #16130e;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--color-night);
  color: #f5efe4;
}
